*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #E68369;
    text-align: center;
}
p{
    font-size: 10vmin;
    color: #131842;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    /* vmin ka matlab percentage hi hota hy or px ki jaga rem , %, vh, vw ya unit use krny chhy taka responsive ness aye  */
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #C63C51;
    background-color: #FBF6E2;
}
#btn-reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #131842;
    color: #ECCEAE;
    border: none;
    border-radius: 1rem;
}
#new-gamebtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #131842;
    color: #ECCEAE;
    border: none;
    border-radius: 1rem;
}
#msg{
    color: #f7dec4;
    font-size: 5vmin;
    font-weight: 700;
    margin-top: 3vmin;
    margin-bottom: 5vmin;
}
.msg-container{
    height: 30vmin;
}
.hide{
    display: none;
}